<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <style>
        body{
            background-color: #f9ff7f;
        }
        p{
            color: blueviolet;
        }
    </style>
</head>
<body>
    <p><b>This is index.html page</b></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dicta quia aspernatur. Officia nulla reiciendis doloribus enim soluta ea qui repudiandae ullam, labore dolores excepturi eligendi autem possimus reprehenderit ipsam?</p>
    <p>this laptop belongs to sujal karale </p>
    <p>he is currently learning web development bootcamp from udemy </p>
    <p>i have been informed that he has complete notes of all the subjects , so i will ask him for PDF of his notes </p>
</body>
</html>